html{
  overflow-y: scroll;
}

body{
    font-family: 'Monserrat', sans-serif;
    display: flex;
    margin: 0 auto;
    max-width: 1420px;
  }
  
  main {
    flex: 1;
    height: 100vh;
    margin-left: 160px;
    margin-right: 20px;
    padding-right: 150px;
    padding-left: 150px;
  }
  
  header {
    font-size: 2rem;
    padding: 15px;
  }
  
  nav {
    width: 200px;
    height: 100%;
    border-right: 2px solid #4c341a;
    position: fixed;
  }

  nav a{
    display: block;
    color: black;
    padding: 20px;
    float: left;
    border-top: 1px solid #4c341a;
    text-decoration: none;
    width: 80%;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  p {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.5
  }
  
  li {
    padding: 15px;
  }
  
  code {
    display: block;
    text-align: left;
    position: relative;
    padding: 15px;
    background-color: #D3D3D3;
    border-radius: 10px;
  }
  
  #Some_Advice p{
    font-size: 16px;
    Font-weight: normal;
  }
  #Some_Advice ol{
    font-weight: normal;
    font-size: 16px;
  }

  @media only screen and (max-width: 600px){

    nav{
      width: 75px;
      overflow-y: hidden;
    }
    nav a{
      font-size: .75em;
      padding: 8px;
    }
    header {
      font-size: 1.2rem;
    }

    main {
      flex: 1;
      height: 100vh;
      margin-left: 10px;
      margin-right: 20px;
      padding-right: 15px;
      padding-left: 83px;
    }
    
  }

  @media only screen and (min-width: 601px) and (max-width: 900px){

    main {
      flex: 1;
      height: 100vh;
      margin-left: 10px;
      margin-right: 20px;
      padding-right: 15px;
      padding-left: 200px;
    }
  }